*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cart{
    float: right;
    width: 30px;
    height: 30px;
    
}
.shopping-cart{
    float:right;
    background-color: aliceblue;
    border: 2px solid #000;
    border-radius: 40px;
}
.shopping-cart:hover{
    background-color: rgb(90, 90, 223);

}
.logo{
    height: 20%;
    width:20%;
    border-radius: 50%;
    float: left;
}
.number{
    float: left;
    width: 30px;
    height: 30px;
    color: aliceblue;
    border: 2px solid black;
    background-color: black;
    border-radius: 100px;
    font-weight: bold;
    text-align: center;
}
.navbar{
    width: 100%;
    border: 2px solid#0e0024;
    background-color: rgb(0, 0, 0);
    
}
.navbar-nav{
    align-items: right;
   
}

.nav-link:hover {
    background-color: rgb(223, 90, 205);
    border-radius: 10px;
    color: rgb(85, 85, 85);
}
